/* 
1rem =16px (初始值)

 style > className > * > html  

主要顏色 main-color:#81F4E1
淡色 light-color:#e6fdf9
淡色 light-color:#f2fefc
對比色 shade-color:#34625a
對比色 shade-color:#417a71
background-color: #fff
顯眼色：#FF1654
title:#190933
p:#000

*/

/* 

todo @media screen and (max-width: 320px) {
  html {
    padding: 0;
    margin: 0;
    background-color: unset;
    font-size: unset;
    font-weight: unset;
  }
  .app {
    background-color: pink;
  }
}

 */

/* 

Todo @media screen and (min-width: 321px) {
  html {
    padding: 0;
    margin: 0;
    background-color: unset;
    font-size: unset;
    font-weight: unset;
  }
  .app {
    background-color: yellow;
  }
} */

@media screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    background-color: unset;
    font-size: unset;
    font-weight: unset;
  }

  .app {
    background-color: white;
  }
  .App-paragraph {
    font-size: 20;
    margin: 0;
    background-color: white;
  }

  .middle-middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link-all {
    color: black;
    text-decoration: none;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  }
  .link-all:hover {
    color: #81f4e1;
  }

  .btn-All {
    border-radius: 0;
    border-style: unset;
    background-color: unset;
  }

  a,
  a:active,
  a:hover,
  a:visited {
    text-decoration: none;
    cursor: pointer;
  }

  .img-link-p,
  .img-link-p:active,
  .img-link-p:hover,
  .img-link-p:visited {
    color: #417a71;
    font-size: 0.6rem;
  }
  /* --------------------  Header ------------------- */

  .app-header {
    /*         background-color: aliceblue; */
    min-height: 10vh;
  }
  .header-link-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: #f2fefc solid;
  }
  .header-link {
    font-size: 0.8rem;
  }
  .header-link:hover {
    color: #417a71;
    background-color: #81f4e1;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.4rem;
  }

  .header-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 1rem;
    font-size: 0.8rem;
  }

  /* -------------------- Footer ------------------- */

  .app-footer {
    /*       background-color: yellow; */
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #34625a;
  }
  .footer-p {
    /*        background-color: #f2fefc; */
    color: #fff;
    font-size: 0.7rem;
  }

  /* -------------------- BODY ------------------- */
  .app-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*  * Date Time  ========================== */

  .dateDisplay {
    height: 8rem;
    background-color: #f2fefc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10rem 0 10rem;
  }

  .btn-date-toggle {
    border-style: double;
    border-width: 0.2rem;
    border-color: #e6fdf9;
    margin: 0 0.3rem 0 0.3rem;
  }

  /*  * Survey  ========================== */

  .Survey-title-01 {
    font-size: 3rem;
    font-weight: 700;
  }

  .Survey-inputText {
    margin: 2rem 0 2rem 0;
  }

  .Survey-inputText-style {
    height: 1.6rem;
    width: 12rem;
    border-color: #417a71;
    border-style: solid;
    font-size: 0.6rem;
  }

  .Survey-question {
    margin: 2rem 0rem 2rem 0rem;
    background-color: #f2fefc;
    border-radius: 0.4rem;
    border-style: dotted;
    border-color: #417a71;
    width: 30rem;
    padding-bottom: 1rem;
  }
  .Survey-multiTexts {
    margin: 1rem 0 4rem 0;
  }

  .Survey-option-style {
    margin: 1rem 0 0 0;
  }
  .Survey-option-style-single {
    margin: 0 0.6rem 0 0.6rem;
  }

  .Survey-btn-submit {
    background-color: #fff;
    border-color: #f2fefc;
    /*     border-style: unset; */
  }

  .Survey-answer-section1 {
    margin: 4rem 0 1rem 0;
  }
  .Survey-img {
    width: 26rem;
  }

  /* * Contact Us ========================== */
  .Contact-info-section {
    margin: 3rem 1rem 2rem 1rem;
  }
  .contact-link,
  .contact-link :active,
  .contact-link :visited,
  .contact-link :hover {
    color: 000;
    font-size: 0.8rem;
  }

  .contact-link :hover {
    color: #417a71;
  }

  /*  * Home  ========================== */
  .section {
    width: 50vw;
  }
  .section-01-p {
    text-align: center;
    margin: 0 0 1rem 0;
    white-space: normal;
  }
  .section-01-p-2 {
    text-align: left;
    margin: 0 0 1rem 0;
    white-space: normal;
  }
  .section-01-p-3 {
    text-align: center;
    margin: 0 0 2rem 0;
    white-space: normal;
    color: #ff1654;
    font-weight: 600;
  }
  .section-02-li {
    margin: 0.4rem 1rem 0.4rem 1rem;
  }

  .section-03-p-1 {
    color: #ff1654;
    margin: 2rem 0 1rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .section-03-p-2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
