/* 
1rem =16px (初始值)

 style > className > * > html  


淡色 light-color:#e6fdf9
對比色 shade-color:#34625a
對比色 shade-color:#417a71
background-color: #fff
顯眼色：#FF1654
title:#190933
p:#000

*/

@media screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    background-color: unset;
    font-size: unset;
    font-weight: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
  }

  .app {
    background-color: white;
  }
  .App-paragraph {
    font-size: 20;
    margin: 0;
    background-color: white;
  }

  .middle-middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link-all,
  .link-all :visited {
    color: #190933;
    text-decoration: none;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  }
  .link-all:hover {
    color: #e6fdf9;
  }

  .btn-All {
    border-radius: 0;
    border-style: unset;
    background-color: unset;
  }

  a,
  a:active,
  a:hover,
  a:visited {
    text-decoration: none;
    cursor: pointer;
  }

  .img-link-p,
  .img-link-p:active,
  .img-link-p:hover,
  .img-link-p:visited {
    color: #417a71;
    font-size: 0.6rem;
  }

  /* --------------------  Header ------------------- */

  .app-header {
    min-height: 10vh;
    margin: 1rem 1rem 1rem 1rem;
    padding: 0 1rem 0 1rem;
  }

  .nav-display-L {
    float: inline-start;
  }
  .nav-display-R {
    float: inline-end;
  }

  .nav-logo {
    width: 6rem;
    height: 3rem;
    background-color: #e6fdf9;
    text-align: center;
  }
  .header-link-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .header-link {
    font-size: 0.8rem;
    width: 4rem;
    text-align: center;
  }
  .header-link:hover {
    color: #190933;
    background-color: #e6fdf9;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.4rem;
  }
  .header-link-sub {
    font-size: 0.8rem;
    text-align: center;
    color: #190933;
    padding: 0.4rem 0 0.6rem 0;
  }
  .header-link-sub:hover,
  .header-link-sub:visited {
    border-radius: 0.4rem;
    font-size: 0.8rem;
    text-align: center;
    color: #190933;
    padding: 0.4rem 0 0.6rem 0;
  }

  .header-signin-link,
  .header-signin-link:visited {
    font-size: 0.8rem;
    color: #190933;
  }
  .header-signin-link:hover {
    font-size: 0.8rem;
    color: #417a71;
  }

  /* -------------------- Footer ------------------- */

  .app-footer {
    /*       background-color: yellow; */
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #34625a;
  }
  .footer-p {
    /*        background-color: #e6fdf9; */
    color: #fff;
    font-size: 0.7rem;
  }

  /* -------------------- BODY ------------------- */
  .app-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
  }

  /*  * Date Time  ========================== */

  .dateDisplay {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10rem 0 10rem;
  }

  .btn-date-toggle {
    border-style: double;
    border-width: 0.2rem;
    border-color: #e6fdf9;
    margin: 0 0.3rem 0 0.3rem;
  }

  /*  * Survey  ========================== */

  .Survey-title-01 {
    font-size: 3rem;
    font-weight: 700;
  }

  .Survey-inputText {
    margin: 2rem 0 2rem 0;
  }

  .Survey-inputText-style {
    height: 1.6rem;
    width: 12rem;
    border-color: #417a71;
    border-style: solid;
    font-size: 0.6rem;
  }

  .Survey-question {
    margin: 2rem 0rem 2rem 0rem;
    background-color: #e6fdf9;
    border-radius: 0.4rem;
    border-style: dotted;
    border-color: #417a71;
    width: 30rem;
    padding-bottom: 1rem;
  }
  .Survey-multiTexts {
    margin: 1rem 0 4rem 0;
  }

  .Survey-option-style {
    margin: 1rem 0 0 0;
  }
  .Survey-option-style-single {
    margin: 0 0.6rem 0 0.6rem;
  }

  .Survey-btn-submit {
    background-color: #fff;
    border-color: #e6fdf9;
    /*     border-style: unset; */
  }

  .Survey-answer-section1 {
    margin: 4rem 0 1rem 0;
  }
  .Survey-img {
    width: 26rem;
  }

  /* * Contact Us ========================== */
  .Contact-info-section {
    margin: 3rem 1rem 2rem 1rem;
  }
  .contact-link,
  .contact-link :active,
  .contact-link :visited,
  .contact-link :hover {
    color: 000;
    font-size: 0.8rem;
  }

  .contact-link :hover {
    color: #417a71;
  }

  /*  * Home  ========================== */
  .section {
    width: 50vw;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .section-01-p {
    text-align: center;
    margin: 0 0 1rem 0;
    white-space: normal;
  }
  .section-01-p-2 {
    text-align: left;
    margin: 0 0 1rem 0;
    white-space: normal;
    width: 30rem;
  }
  .section-01-p-3 {
    text-align: center;
    margin: 1rem 0 1rem 0;
    white-space: normal;
    color: #ff1654;
    font-weight: 600;
  }

  .section-01-p-4 {
    color: #417a71;
    margin: 1rem 0 0.4rem 0;
  }

  .section-01-p-5 {
    color: #417a71;
    margin: 0.6rem 0 0.6rem 0;
  }
  .section-02-li {
    margin: 0.6rem 1rem 0.4rem 1rem;
    width: 16rem;
  }
  .section-02-p-1 {
    text-align: center;
    margin-top: 2rem;
  }
  .section-02-li-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-03-p-1 {
    color: #ff1654;
    margin: 2rem 0 1rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .section-03-p-2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  /*  * Member Signin ========================== */
  .signintest {
    text-align: center;
    font-size: 0.8rem;
    color: #417a71;
    margin: 0.4rem 0 0.2rem 0;
  }
  .signin-input {
    border-width: 0.1rem;
    font-size: 0.8rem;
    width: 12rem;
    height: 1.6rem;
    margin: 0.6rem 0 0.6rem 0;
  }
  .signin-button {
    margin: 1rem 0 1rem 0;
    border-width: 0.1rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    border-color: #e6fdf9;
  }
  .signin-err-message {
    margin: 1rem 0 2rem 0;
    font-size: 0.8rem;
    color: #ff1654;
    text-align: center;
  }

  /*  * Member Manage ========================== */
  .text-Welcome {
    text-align: center;
    margin: 2rem 0 1rem 0;
  }
  .text-info {
    margin-top: 0.4rem;
  }
  .text-info-bottom {
    margin-bottom: 2rem;
  }
}
